name: Build, test and publish
on:
  push:
    branches:
      - master

jobs:
  build-test-publish:
    name: Build, test and publish
    uses: HavenDV/workflows/.github/workflows/dotnet_build-test-publish.yml@main
    with:
      additional-test-arguments: '--logger GitHubActions'
      run-tests: false
    secrets:
      nuget-key: ${{ secrets.NUGET_KEY }}